html, body{
	overflow: hidden;
	height: 100%;
}
body{
    margin: 0;
	background: #E9E9E9 url(bg.jpg) 50% 0;
	-webkit-animation: flow 16s linear infinite;
	-moz-animation: flow 16s linear infinite;
/* 
	animation: flow 16s linear infinite;
 */
}
#wrapper{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -80px;
	margin-left: -320px;
	width: 640px;
	height: 160px;
	text-align: center;
}
#wrapper .title{
	margin: 0 0 30px;
	padding: 0;
	font-weight: 400;
	font-size: 32px;
	cursor: pointer;
	color: #333;
}
#wrapper .what{
	font-weight: 700;
	color: #111;
}
#wrapper .what a{
	text-decoration: none;
	color: #111;
	border-bottom: 1px dotted #111;
	display: block;
}
#start{
	width: 194px;
	height: 73px;
	background: url(btn.png) no-repeat 0 0;
	border: none 0;
	outline:none;
	margin-bottom: 20px;
	+margin-left: 320px;
	font-size: 18px;
    color: #fff;
    text-shadow: #9e9c9c 0 1px 0;
}
#start:hover{ background-position: 0 50%; }
#start:active{ background-position: 0 100%; }
#start[data-status="stop"]{ background-position: 50% 0; }
#start[data-status="stop"]:hover{ background-position: 50% 50%; }
#start[data-status="stop"]:active{ background-position: 50% 100%; }
#start[data-status="again"]{ background-position: 100% 0; }
#start[data-status="again"]:hover{ background-position: 100% 50%; }
#start[data-status="again"]:active{ background-position: 100% 100%; }
#start:disabled + p { display: none }

#wrapper p{margin: 0;}

#wrapper .editmenu {
    color: #666;
	cursor: pointer;
	background: url(arrow.png) no-repeat 50%;
	width: 48px;
	display: inline-block;
}
#wrapper .editmenu:hover {
	color: #333;
}
#cfg {
    color: #666;
	cursor: pointer;
}
#cfg:hover {
	font-weight: 700;
}
#start:disabled + p { display: none }
.temp{
	position: absolute;
	z-index: -1;
	color: #777;
}
#popbox-wrapper{
	position: absolute;
    top: 0;
    left: 0;
	display: none;
    width: 100%;
	height: 100%;

}
#popbox{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -140px;
	margin-left: -200px;
	width: 400px;
	height: 280px;
	line-height: 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #fff;
	-webkit-box-shadow: 0 0 0 5px rgba(0,0,0,.2);
	-moz-box-shadow: 0 0 0 5px rgba(0,0,0,.2);
	box-shadow: 0 0 0 5px rgba(0,0,0,.2);
	+border: 5px solid #5D5D5C;
}
.ie8 #popbox { border: 5px solid #5D5D5C }
#popbox h3{
	margin: 0;
	padding: 20px 0;
	border-bottom: 1px solid #bbb;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	background: #E7E7E7 url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAA7CAIAAAA1lncVAAAAIklEQVQI12P4//8/0////5kYGBjgNC42PnWkilHDDBLtAgC6y0sq4aOFWQAAAABJRU5ErkJggg==") repeat-x 0 100%;
	color: #333;
	text-align: center;
	font-weight: 700;
	font-size: 19px;
	line-height: 1;
}
#popbox textarea{
	overflow: auto;
	margin: 0 0 4px;
	padding: 10px;
	width: 380px;
	height: 150px;
	border: 0;
	background: #fff url("data:image/gif;base64,R0lGODlhAQADAJEAAPn5+fPz8+3t7QAAACH5BAAHAP8ALAAAAAABAAMAAAICVFAAOw==") repeat-x;
	font-size: 14px;
	resize: none;
	+margin-left: 200px;
}
#ok{
	margin-left: 1%;
	width: 98%;
	height: 42px;
	color: #666;
	cursor: pointer;
	+margin-left: 205px;
	    -webkit-appearance: button;
    font-size: 18px;
}
.tip {
	position: absolute;
	top: 168px;
	left: 280px;
	display: inline-block;
	padding: .5em;
	width: 170px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #333;
	color: #fff;
}
.tip i {
	position: absolute;
	top: 9px;
	left: -10px;
	display: block;
	width: 0;
	height: 0;
	border: 5px solid transparent;
	border-right-color: #333;
}
#wrapper .notdinner {
	position: absolute;
	top: -34px;
	left: 209px;
	display: block;
	overflow: hidden;
	width: 230px;
	height: 39px;
	background: url(notdinner.png);
	text-indent: -99em;
}
#shareto { margin-top: 10px }



@media only screen and (max-width: 640px) { .qrcode{display: none;} }
@media 
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
#start{
	background-image: url(btn@2x.png);
	-webkit-background-size: 582px auto;
	background-size: 582px auto;
}
}