body {
	margin: 0;
	padding-top: 40px;
	+margin-top: 20px;
	font-family: '\5fae\8f6f\96c5\9ed1';
	font-size: 12px;
}
a img { border: 0 }
input, textarea, select { font-family: '\5fae\8f6f\96c5\9ed1' }
button, input[type=button] { cursor: pointer }
#navbar {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 32767;
	width: 100%;
	height: 40px;
	background: #222 url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAoCAIAAACw1AcgAAAAHUlEQVQI12MwNjZm+v//PxwzMDCg8AmJU1sPmhwAkPpjhUIwuo8AAAAASUVORK5CYII=") repeat-x;
	-webkit-box-shadow: 0 0 5px 1px rgba(0,0,0,.5);
	-moz-box-shadow: 0 0 5px 1px rgba(0,0,0,.5);
	box-shadow: 0 0 5px 1px rgba(0,0,0,.5);
	color: #999;
	font-size: 12px;
	line-height: 40px;
	_position: static;
}
#navbar .navbar-inner {
	position: relative;
	margin: 0 auto;
	min-width: 600px;
	max-width: 980px;
	width: 100%;
	_width: 960px;
}
#navbar a {
	color: #ccc;
	text-align: left;
	text-decoration: none;
	text-shadow: 0 -1px 0 rgba(0,0,0,.8);
	font-weight: bold;
	line-height: 39px;
}
#navbar a:hover { color: #fff }
#navbar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#navbar .navbar-logo {
	display: inline-block;
	float: left;
	margin: 0 0 0 5px;
	padding: 0;
	height: 40px;
	font-weight: bold;
	font-size: 16px;
}
#navbar .navbar-logo a{
	position: relative;
	display: block;
	color: #fff;
	line-height: 36px;
}
#navbar .navbar-logo img,
#navbar .navbar-logo span{
	vertical-align: middle;
}
#navbar .navbar-logo img{
	margin-right: 7px;
	-webkit-transition:-webkit-transform .5s;
	-moz-transition:-moz-transform .5s;
	-ms-transition:-ms-transform .5s;
	-o-transition:-o-transform .5s;
	transition:transform .5s;
}
#navbar .navbar-logo:hover img{
	-webkit-transform: rotate(360deg) scale(.8);
	-moz-transform: rotate(360deg) scale(.8);
	-ms-transform: rotate(360deg) scale(.8);
	-o-transform: rotate(360deg) scale(.8);
	transform: rotate(360deg) scale(.8);
}
#navbar .navbar-desc {
	position: relative;
	float: left;
	margin: 10px 20px 0 10px;
	padding: 4px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background: #666;
	color: #ddd;
	line-height:12px;
}
#navbar .navbar-desc:after {
	position: absolute;
	top: 6px;
	left: -8px;
	display: block;
	width: 0;
	height: 0;
	border: 4px solid transparent;
	border-right-color: #666;
	content: " ";
}
#navbar .navbar-app {
	position: relative;
	float: left;
}
#navbar .app-all {
	display: block;
}
#navbar .app-list {
	position: absolute;
	top: 42px;
	left: -10px;
	visibility: hidden;
	padding: 4px 0;
	width: 170px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #fff;
	-moz-box-shadow: 0 4px 7px rgba(0,0,0,.3);
	box-shadow: 0 4px 7px rgba(0,0,0,.3);
	color: #000;
	list-style: none;
	font-weight: normal;
	opacity: 0;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
	-webkit-transform: translate(0, 10px);
	-moz-transform: translate(0, 10px);
	-ms-transform: translate(0, 10px);
	-o-transform: translate(0, 10px);
	transform: translate(0, 10px);
	+top: 40px;
	-webkitbox-shadow: 0 4px 7px rgba(0,0,0,.3);
}
#navbar .app-list:after {
	position: absolute;
	top: -13px;
	left: 20px;
	display: block;
	width: 0;
	height: 0;
	border: 7px solid transparent;
	border-bottom-color: #fff;
	content: " ";
}
#navbar .app-list li {
	margin: 0;
	line-height: 28px;
}
#navbar .app-list a {
	display: block;
	padding-left: 15px;
	height: 28px;
	color: #333;
	text-shadow: none;
	font-weight: normal;
	line-height: 28px;
}
#navbar .app-list a:hover {
	background: #666;
	color: #fff;
}
#navbar .app-list .current a { font-weight: bold }
#navbar .navbar-app:hover .app-list { 
	visibility: visible;
	opacity: 1;
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
}

#navbar .navbar-right {
	float: right;
	margin-right: 5px;
}
#navbar .navbar-right li {
	float: right;
	margin: 0 0 0 20px;
	padding: 0;
	+width: 110px;
	+margin-left: 0;
}
#navbar .navbar-blog a {
	display: inline-block;
	float: right;
	margin-top: 6px;
	padding: 6px 12px;
	height: 1em;
	border: 1px solid;
	border-color: #88C1EC #4092CC #2578B4;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #2578B4 url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAABOCAIAAABueetnAAAAX0lEQVQYV3WNOw6AMAxD6ctREBJ34ohcixkxscVlaNUfMFixnp1k2vYDSVmx8UneZrHPvnZcIkr4wJd5LT4W7h+sKjFHrvTb/3r1zn1eBAAMgICBUVg/cw4Ea/pj9u48FaGbOalkC4QAAAAASUVORK5CYII=") repeat-x 0 0;
	-webkit-box-shadow: 0 0 0 1px #000,0 0 0 2px #2C2C2C;
	-moz-box-shadow: 0 0 0 1px #000,0 0 0 2px #2C2C2C;
	box-shadow: 0 0 0 1px #000,0 0 0 2px #2C2C2C;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,.2);
	font-weight: normal;
	font-size: 12px;
	line-height: .9em;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#5BABE4', EndColorStr='#2578B4');
}
#navbar .navbar-blog a:hover {
	border-color: #7AB6E8 #3482C2 #1D68A7;
	background-color: #1D68A7;
	background-position: 0 50%;
}
#navbar .navbar-blog a:active {
	border-color: #155899 #296EAE #3D8FD8;
	background-position: 0 100%;
}
#shareto a { margin-left: 5px }
#upgradebrowser { list-style: none }
#upgradebrowser a { text-decoration: none }
#upgradebrowser img { margin-right: 5px }
#upgradebrowser img, #upgradebrowser span { vertical-align: middle }
/* Phone */
@media only screen and (max-width: 570px) {
	#navbar .navbar-inner { min-width: 4350px }
	#navbar .navbar-right .navbar-share { display: none }
}
/* bShare */
a.bshareDiv{play:block;padding-left:20px;font-family:'\5fae\8f6f\96c5\9ed1'!important}
a.bshareDiv,a.bshareDiv div,.bshareText{height:40px!important;line-height:39px!important}
a.bshareDiv .bsStyle0 {background:url("data:image/gif;base64,R0lGODlhEAAQAMQAAMzMzMnJycXFxcHBwbW1taqqqp6enpKSkoaGhnx8fHt7e29vb2NjY1dXV0BAQDQ0NB0dHREREQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEHABEALAAAAAAQABAAAAVQYCSO5EMAgEKu4okCC0u+qCFHjfsebE6/DsgBMEDoCA2G4eCIGH4ApOwXiN1+gsbNCZWyIMZCQmdwLJbNno6WXkEWgx/vBvnZtmvrzYRShQAAOw==") no-repeat 0 50%!important}
a.bshareDiv .bshareText{color:#ccc!important}
a.bshareDiv:hover .bshareText{color:#fff!important}
span.bshareText:hover{text-decoration:none!important}